.popup{
    height: 80vh;
    width: 80vw;
    background: linear-gradient(45deg, #552D65, #191938);
    border: 2px solid #FFDC20;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.congrats{
    font-size: 3rem;
    margin-bottom: -0.3rem;
}

.txnbtn{
    width: 20rem;
    height: 3rem;
    border: 2px solid #FFDC20;
}