.rounded{
    height: 5rem;
    width: 5rem;
    /* background-color: orange; */
    background-image: radial-gradient(#3F1A4E, black);
    border-radius: 10rem;
    border: 2px solid #FFDC20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

.helplines{

    display: flex;
    gap: 2rem;
    /* margin-left: 2rem; */
}

.left{
    position: fixed;
    width: 70vw;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1rem;
}

.right{
    width: 25vw;
    /* background-color: pink; */
    position: fixed;
    right: 2rem;
    top: 5rem;
}

.levels{
    width: 23vw;
    height: 85vh;
    border:2px solid #FFDC20;
    border-radius: 1rem;
    display: flex;
    overflow: auto;
    flex-direction: column-reverse;
    background: linear-gradient(45deg, #3F1A4E, #00000060);
}

.levels {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.levels::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.questbox{
    width: 60vw;
    height: 4rem;
    /* background-color: red; */
    background-image: radial-gradient(#3F1A4E, black);
    border: 2px solid #FFDC20;
}

.options{
    width: 30vw;
    height: 4rem;
    /* background-color: red; */
    background-image: radial-gradient(#3F1A4E, black);
    border: 2px solid #FFDC20;
}

.listedoptions{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
.content{
    display: flex;
} */


.questext{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.optionstext{
    margin-left: 0.5rem;
}

.dkbc{
    position: fixed;
    top: -30rem;

    text-align: center;
    /* margin-top: -2rem; */
    font-size: 25rem;
    color: rgb(255, 255, 255, 0.04);
    /* position: fixed; */
    font-weight: 700;
    z-index: 0;
}

.lifelineicon{
    height: 2.5rem;
}